{% extends 'base.html' %}

{% block content %}


<nav>
     <ul class="main">
      <li><a href=""><span class="fa fa-users"></span>Usuarios</a>
        <ul>
          <li><a href=""><span class="fa fa-idcard"></span>Registro</a></li>

          <li><a href=""><span class="fa fa-right-to-bracket"></span>Login</a></li>
        </ul>
      </li>  
      <li><a href=""><span class="fa fa-book"></span>Libros</a>
        <ul>
          <li><a href=""><span class="fa fa-list"></span>Consultar</a></li>
          <li><a href=""></a><span class="fa fa-check"></span>Calificar</li>
          <li><a href=""></a><span class="fa fa-list"></span>Comentar</li>
        </ul>
      </li>
      <li><a href=""><span class="fa fa-list"></span>Lista de deseos</a>
        <ul>
          <li><a href="">Consultar</a></li>
          <li><a href=""></a>Modificar</li>
        </ul>
      </li>
      <li><a href=""><span class="fa fa-list"></span>Generalidades</a>
        <ul>
          <li><a href="">Contacto</a></li>
          <li><a href=""></a>Nosotros</li>
          <li><a href=""></a>Privacidad</li>
          <li><a href=""></a>Terminos</li>
        </ul>
      </li>
  </ul>
</nav>


<div class="offcanvas offcanvas-start fondo-oscuro" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasExampleLabel">
            <i class="bi bi-robot"></i>
            Proyecto Mision TIC
        </h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        <hr>
        <div class="usuario">
            <img src="https://picsum.photos/id/1005/367/267" alt="">
            Nombre de usuario
        </div>
        <hr>

        <div class="d-grid gap-2">
            <a href="#" class="boton seleccionado"><i class="bi bi-house"></i>Administrador</a>
            <a onclick="verdatos();" href="{{url_for('menu_user')}}" class="boton"><i class="bi bi-person"></i>Gestion
                Usuarios</a>
            <a onclick="verdatos();" href="{{url_for('menu_productos')}}" class="boton"><i class="bi bi-person"></i>Gestion
                    de Productos</a>    
            
        </div>
        <div class="d-grid gap-2">
            <a href="#" class="boton seleccionado"><i class="bi bi-person-check"></i>Cliente</a>
            <a href="{{url_for('menu_carrito')}}" class="boton"><i class="bi bi-cart-plus-fill"></i>Ver Productos</a>
            <a href="{{url_for('menu_deseos')}}" class="boton"><i class="bbi bi-bag-check"></i>Lista de Deseos</a>
            <!-- <a href="profesores.html" class="boton"><i class="bi bi-person-workspace"></i>Profesores</a>
            <a href="estudiantes.html" class="boton"><i class="bi bi-person-check"></i>Estudiantes</a>
            <a href="materias.html" class="boton"><i class="bi bi-list-task"></i>Materias</a>
            <a href="cursos.html" class="boton"><i class="bi bi-list-task"></i>Curso</a> -->
        </div>

        <div class="d-grid gap-2">
            <a href="{{url_for('login')}}" class="boton seleccionado"><i class="bi bi-box-arrow-left"></i>Salir</a>
            
        </div>

     

    </div>
</div>


{% block content1 %}

{% endblock %}

{% endblock %}